name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14

      # Install stuff
      - name: Install Node.js dependencies
        run: yarn install

      # Run Linter
      - name: Run linters
        run: yarn lint 
      
      # Make Pull Request
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
